/* css styles */

/*
h2 {
    text-align: center;
}


h3 {
    text-align: center;
}
*/
.navbar-title {
    text-transform: capitalize;
}

.no-anchor.listing-title {
    text-transform: capitalize;
}

figcaption {
    text-align: center;
}

.quarto-listing-category.category-default,
.quarto-listing-category-title {
    transform: translateY(30px);
}

#field_0::placeholder {
    font-size: 13px !important;
}

input[value='Subscribe'] {
    font-size: 15px !important;
    background-color: rgb(26, 26, 26) !important;
    border-color: #000000 !important;
}

main .inline-container {
    display: none;
}

@media (max-width: 768px) {
    main .inline-container {
        display: block;
    }
}